.stopwatch-sidebar {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stopwatch-buttons {
	gap: 0.5em;
	display: flex;
}

.stopwatch-value {
	display: flex;
}

.reload-button {
	display: none;
}

.stopwatch-value-container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	width: fit-content;
}

input.stopwatch-value-input {
	outline: none;
	background-color: transparent;
	border: none;
	color: #fa8072;
	width: 3rem;
	text-align: center;
	font-size: inherit !important;
}

input.stopwatch-value-input:disabled {
	color: white
}

input.stopwatch-value-input:focus,
input.stopwatch-value-input:active {
	outline: none;
	border: none;
	box-shadow: none;
}
