.stopwatch-sidebar {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stopwatch-buttons {
	gap: 0.5em;
	display: flex;
}

.stopwatch-value {
	display: flex;
}

.reload-button {
	display: none;
}

.time-input {
	max-width: 7em;
}

.stopwatch-value-container {
	padding-top: 0.5em;
	display: flex;
	align-items: baseline;
	gap: 0.5em;
}

input.stopwatch-value-input {
	outline: none;
	background-color: transparent;
	border: none;
	color: #fa8072;
}

input.stopwatch-value-input:disabled {
	color: white
}

input.stopwatch-value-input:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.custom-input {
	width: 50% !important;
	text-align: end;
	font-size: inherit !important;
}
