.stopwatch-sidebar {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stopwatch-buttons {
	gap: 0.5em;
	display: flex;
}

.stopwatch-value {
	display: flex;
}

.reload-button {
	display: none;
}

.stopwatch-value-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}

.stopwatch-value-container {
	display: flex;
	align-items: baseline;
}

input.stopwatch-value-input {
	outline: none;
	background-color: transparent;
	border: none;
	color: #fa8072;
	width: 1.5rem;
	padding: 0;
	text-align: center;
	font-size: 1rem;
}

.stopwatch-value-input input[type='text']{
	padding: 0;
}

input.stopwatch-value-input:disabled {
	color: white
}

input.stopwatch-value-input:focus,
input.stopwatch-value-input:active {
	outline: none;
	border: none;
	box-shadow: none;
}

.stopwatch-function-button {
	width: 4rem
}
